<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tim" class="at.javatraining.trainings.entities.Student">
        <property name="name" value="Tim" />
        <property name="email" value="tim@java.at" />
    </bean>

    <bean id="Patrick" class="at.javatraining.trainings.entities.Student"
          c:name="Patrick"
          c:email="patrick@mail.com" />
</beans>